In [1]:
from blocksnet import config

/home/vasilstar/prostor-examples/.venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
from prostor import fetchers

fetchers.get_indicators()

,name_full,name_short,measurement_unit,service_type,physical_object_type,level,list_label,parent_id,created_at,updated_at
indicator_id,,,,,,,,,,
308,Социальная инфраструктура,Социальная инфраструктура,None,None,None,1,12,None,2025-03-21T15:17:12.555604Z,2025-03-21T15:17:12.555604Z
295,Демонтажные работы,Демонтажные работы,None,None,None,1,11,None,2025-01-21T20:57:57.617341Z,2025-01-21T20:57:57.617341Z
151,Экономика,Экономика,None,None,None,1,7,None,2024-10-02T06:28:21.885235Z,2024-10-02T06:28:21.885235Z
86,Инженерная инфраструктура,Инженерная инфраструктура,None,None,None,1,4,None,2024-10-02T06:28:21.885235Z,2024-10-02T06:28:21.885235Z
3,Общая информация по территории,Общая информация,None,None,None,1,1,None,2024-10-02T06:28:21.885235Z,2024-10-02T06:28:21.885235Z
196,Показатели профилей,Показатели профилей,None,None,None,1,П,None,2024-10-02T06:28:21.885235Z,2024-10-02T06:28:21.885235Z
192,Показатели оценки по каркасам,Показатели оценки по каркасам,None,None,None,1,K,None,2024-10-02T06:28:21.885235Z,2024-10-02T06:28:21.885235Z
178,Социальные риски,Социальные риски,None,None,None,1,8,None,2024-10-02T06:28:21.885235Z,2024-10-02T06:28:21.885235Z
135,Экология,Экология,None,None,None,1,6,None,2024-10-02T06:28:21.885235Z,2024-10-02T06:28:21.885235Z
46,Транспорт,Транспорт,None,None,None,1,3,None,2024-10-02T06:28:21.885235Z,2024-10-02T06:28:21.885235Z
34,Демография,Демография,None,None,None,1,2,None,2024-10-02T06:28:21.885235Z,2024-10-02T06:28:21.885235Z
261,Расчет обеспеченности,Расчет обеспеченности,None,None,None,1,5,None,2024-10-02T06:28:21.885235Z,2024-10-02T06:28:21.885235Z

In [3]:
INDICATORS_GROUPS_IDS = {
  'social': 308,
  'general': 3,
  'demographic': 34
} 

INDICATORS_IDS = []

for group,ind_id in INDICATORS_GROUPS_IDS.items():
  indicators_df = fetchers.get_indicators(ind_id)
  INDICATORS_IDS.extend(indicators_df.index.to_list())

In [4]:
df = fetchers.get_indicators_values(3, INDICATORS_IDS)
df

,indicator,territory,date_type,date_value,value,value_type,information_source,created_at,updated_at
indicator_value_id,,,,,,,,,
160214,"{'indicator_id': 1, 'parent_id': 34, 'name_ful...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2023-01-01,2154.00,real,Unknown Source,2024-10-08T13:28:35.087711Z,2024-10-08T13:28:35.087711Z
336338,"{'indicator_id': 4, 'parent_id': 3, 'name_full...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,958.00,real,modeled,2025-03-21T11:09:47.060833Z,2025-03-21T13:20:33.321636Z
446441,"{'indicator_id': 309, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:34.453734Z,2025-03-25T19:48:34.453734Z
446442,"{'indicator_id': 310, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:34.864401Z,2025-03-25T19:48:34.864401Z
446443,"{'indicator_id': 311, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:35.195196Z,2025-03-25T19:48:35.195196Z
446444,"{'indicator_id': 312, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:35.273694Z,2025-03-25T19:48:35.273694Z
446445,"{'indicator_id': 313, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:35.355423Z,2025-03-25T19:48:35.355423Z
446446,"{'indicator_id': 314, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:35.896155Z,2025-03-25T19:48:35.896155Z
446447,"{'indicator_id': 315, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:36.272632Z,2025-03-25T19:48:36.272632Z
446448,"{'indicator_id': 316, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:36.352399Z,2025-03-25T19:48:36.352399Z
446449,"{'indicator_id': 317, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:36.432521Z,2025-03-25T19:48:36.432521Z
446450,"{'indicator_id': 318, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:36.506661Z,2025-03-25T19:48:36.506661Z
446451,"{'indicator_id': 319, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,1.00,real,modeled,2025-03-25T19:48:36.872264Z,2025-03-25T19:48:36.872264Z
446452,"{'indicator_id': 320, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:37.225540Z,2025-03-25T19:48:37.225540Z
446453,"{'indicator_id': 321, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:37.755258Z,2025-03-25T19:48:37.755258Z
446454,"{'indicator_id': 322, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,3.00,real,modeled,2025-03-25T19:48:38.052176Z,2025-03-25T19:48:38.052176Z
446455,"{'indicator_id': 323, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:38.339822Z,2025-03-25T19:48:38.339822Z
446456,"{'indicator_id': 324, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:38.647510Z,2025-03-25T19:48:38.647510Z
446457,"{'indicator_id': 325, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:38.718632Z,2025-03-25T19:48:38.718632Z
446458,"{'indicator_id': 326, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:38.801028Z,2025-03-25T19:48:38.801028Z
446459,"{'indicator_id': 327, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:38.871940Z,2025-03-25T19:48:38.871940Z
446460,"{'indicator_id': 328, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:39.089521Z,2025-03-25T19:48:39.089521Z
446461,"{'indicator_id': 329, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:39.576620Z,2025-03-25T19:48:39.576620Z
446462,"{'indicator_id': 330, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:40.136409Z,2025-03-25T19:48:40.136409Z
446463,"{'indicator_id': 331, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:40.217859Z,2025-03-25T19:48:40.217859Z
446464,"{'indicator_id': 332, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:40.293177Z,2025-03-25T19:48:40.293177Z
446465,"{'indicator_id': 333, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:40.654250Z,2025-03-25T19:48:40.654250Z
446466,"{'indicator_id': 334, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:41.039026Z,2025-03-25T19:48:41.039026Z
446467,"{'indicator_id': 335, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:41.551925Z,2025-03-25T19:48:41.551925Z
446468,"{'indicator_id': 336, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:41.635196Z,2025-03-25T19:48:41.635196Z
446469,"{'indicator_id': 337, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:42.026608Z,2025-03-25T19:48:42.026608Z
446470,"{'indicator_id': 338, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:42.598500Z,2025-03-25T19:48:42.598500Z
446471,"{'indicator_id': 340, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:44.570393Z,2025-03-25T19:48:44.570393Z
446472,"{'indicator_id': 341, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:44.997784Z,2025-03-25T19:48:44.997784Z
446473,"{'indicator_id': 342, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:45.381686Z,2025-03-25T19:48:45.381686Z
446474,"{'indicator_id': 343, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:45.467187Z,2025-03-25T19:48:45.467187Z
446475,"{'indicator_id': 344, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:45.994881Z,2025-03-25T19:48:45.994881Z
446476,"{'indicator_id': 345, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:46.358266Z,2025-03-25T19:48:46.358266Z
446477,"{'indicator_id': 346, 'parent_id': 308, 'name_...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,0.00,real,modeled,2025-03-25T19:48:46.438496Z,2025-03-25T19:48:46.438496Z
851270,"{'indicator_id': 16, 'parent_id': 3, 'name_ful...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,23.65,forecast,landuse_det,2025-03-28T13:43:01.033284Z,2025-03-28T13:48:08.156370Z
6044071,"{'indicator_id': 37, 'parent_id': 34, 'name_fu...","{'id': 3, 'name': 'Самойловское сельское посел...",year,2025-01-01,3.00,real,modeled,2025-05-17T11:43:59.276448Z,2025-05-17T11:43:59.276448Z

In [5]:
import pandas as pd

pd.json_normalize(df['indicator'])

,indicator_id,parent_id,name_full,level,list_label,measurement_unit.id,measurement_unit.name
0,1,34,Численность населения,2,2.1,1,человек
1,4,3,Площадь территории,2,1.1,12,км2
2,309,308,Количество дошкольных образовательных учреждений,2,12.1,2,ед
3,310,308,Количество образовательных учреждений СПО,2,12.12,2,ед
4,311,308,Количество высших учебных заведений,2,12.23,2,ед
5,312,308,Количество объектов санаторно-курортного назна...,2,12.25,2,ед
6,313,308,Количество спортивных залов,2,12.26,2,ед
7,314,308,Количество плавательных бассейнов,2,12.27,2,ед
8,315,308,Количество стадионов,2,12.28,2,ед
9,316,308,Количество детских домов-интернатов,2,12.29,2,ед
10,317,308,Количество домов престарелых,2,12.30,2,ед
11,318,308,Количество комплексных центров социального обс...,2,12.12,2,ед
12,319,308,Количество почтовых отделений,2,12.23,2,ед
13,320,308,Количество отделений банков,2,12.25,2,ед
14,321,308,Количество центров предоставления государствен...,2,12.26,2,ед
15,322,308,Количество библиотек,2,12.27,2,ед
16,323,308,Количество музеев,2,12.28,2,ед
17,324,308,Количество театров,2,12.29,2,ед
18,325,308,Количество дворцов культуры,2,12.30,2,ед
19,326,308,Количество кинотеатров,2,12.10,2,ед
20,327,308,Количество концертных залов,2,12.11,2,ед
21,328,308,Количество ледовых арен,2,12.13,2,ед
22,329,308,Количество торгово-развлекательных центров,2,12.14,2,ед
23,330,308,Количество парков,2,12.15,2,ед
24,331,308,Количество пляжей,2,12.16,2,ед
25,332,308,Количество экологических троп,2,12.17,2,ед
26,333,308,Количество объектов обеспечения пожарной безоп...,2,12.18,2,ед
27,334,308,Количество полицейских участков,2,12.19,2,ед
28,335,308,Количество гостиниц,2,12.20,2,ед
29,336,308,Количество хостелов,2,12.21,2,ед
30,337,308,Количество туристических баз,2,12.22,2,ед
31,338,308,Количество общеобразовательных учреждений,2,12.24,2,ед
32,340,308,Количество плоскостных спортивных сооружений,2,12.31,2,ед
33,341,308,Количество больничных учреждений (стационаров),2,12.32,2,ед
34,342,308,Количество амбулаторно-поликлинических учреждений,2,12.33,2,ед
35,343,308,Количество станций скорой медицинской помощи,2,12.34,2,ед
36,344,308,Количество объектов общественного питания,2,12.35,2,ед
37,345,308,Количество аптек,2,12.36,2,ед
38,346,308,Количество лечебно-профилактических медицински...,2,12.37,2,ед
39,16,3,Степень урбанизации территории,2,1.3,3,%
40,37,34,Плотность населения,2,2.2,28,чел/км2

In [6]:
buildings = fetchers.get_physical_objects(3,physical_object_function_id=1)

In [7]:
from prostor import adapters

buildings = adapters.adapt_buildings(buildings)

In [8]:
buildings

,geometry,is_living,number_of_floors,footprint_area,living_area,non_living_area,population
physical_object_id,,,,,,,
597036,POINT (34.25915 59.50835),False,None,NaN,NaN,None,NaN
598633,POINT (34.19895 59.48555),False,None,NaN,NaN,None,NaN
600357,POINT (34.22848 59.32311),False,None,NaN,NaN,None,NaN
600405,POINT (34.49992 59.49888),False,None,NaN,NaN,None,NaN
600451,POINT (34.28754 59.50404),False,None,NaN,NaN,None,NaN
...,...,...,...,...,...,...,...
2169491,"POLYGON ((34.50902 59.49591, 34.50913 59.49594...",False,None,NaN,NaN,None,NaN
2169495,"POLYGON ((34.51198 59.49308, 34.5121 59.49311,...",False,None,NaN,NaN,None,NaN
2169502,"POLYGON ((34.51139 59.49382, 34.51154 59.49383...",False,None,NaN,NaN,None,NaN
2169510,"POLYGON ((34.51041 59.49469, 34.51076 59.49472...",False,None,NaN,NaN,None,NaN
2169514,"POLYGON ((34.51204 59.49325, 34.51224 59.49328...",False,None,NaN,NaN,None,NaN

In [9]:
buildings.non_living_area.unique().astype(float)

array([   nan, 1553.5,  623.7,   54.8,   58.3,  287.7,  631.8,  844.6,
        589.1])

In [15]:
from blocksnet.preprocessing.imputing import impute_buildings

crs = buildings.estimate_utm_crs()
impute_buildings(buildings.to_crs(crs), default_living_demand=18)

2025-05-22 12:02:29.038 | WARNING  | blocksnet.preprocessing.imputing.buildings.schemas:_before_validate:21 - Column build_floor_area not found and will be initialized as None

,geometry,is_living,number_of_floors,footprint_area,build_floor_area,living_area,non_living_area,population
597036,POINT (571269.266 6597334.356),False,1.0,0.000000,0.000000,0.0,0.000000,NaN
598633,POINT (567907.5 6594732.586),False,1.0,0.000000,0.000000,0.0,0.000000,NaN
600357,POINT (569914.084 6576675.954),False,1.0,0.000000,0.000000,0.0,0.000000,NaN
600405,POINT (584919.062 6596562.977),False,1.0,0.000000,0.000000,0.0,0.000000,NaN
600451,POINT (572884.982 6596884.591),False,1.0,0.000000,0.000000,0.0,0.000000,NaN
...,...,...,...,...,...,...,...,...
2169491,"POLYGON ((585442.177 6596243.552, 585448.125 6...",False,1.0,105.166789,105.166789,0.0,105.166789,NaN
2169495,"POLYGON ((585616.933 6595931.754, 585623.232 6...",False,1.0,146.323432,146.323432,0.0,146.323432,NaN
2169502,"POLYGON ((585581.55 6596013.763, 585589.951 65...",False,1.0,125.715879,125.715879,0.0,125.715879,NaN
2169510,"POLYGON ((585523.882 6596109.803, 585543.585 6...",False,1.0,206.471877,206.471877,0.0,206.471877,NaN
2169514,"POLYGON ((585619.78 6595951.291, 585630.961 65...",False,1.0,65.704060,65.704060,0.0,65.704060,NaN